# Local PostgreSQL Configuration
DATABASE_URL=postgresql+psycopg2://pod_user:YOUR_PASSWORD@localhost:5432/YOUR_DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pod_db
DB_USER=pod_user
DB_PASSWORD=YOUR_PASSWORD


# Application Secret Key
SECRET_KEY=change_this_secret_key_in_production
